:local * {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

.navbar {
  display: flex;
  flex-direction: row;
  padding: 15px;
  font-size: 25px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Catamaran", sans-serif;
  font-weight: 800;
  background-color: #e6ba95;
  border-radius: 25px;
  color: rgb(0, 0, 0);
  box-shadow: 5px 5px rgb(173, 27, 8);
  justify-content: space-between;
  background: rgb(255,255,255);
  background: linear-gradient(21deg, rgba(255,255,255,1) 0%, rgba(46,86,108,1) 36%, rgba(0,0,0,1) 69%);
  
}

.navbar__signout {
  border: 1px solid rgb(245, 240, 240);
  margin-right: 20px;
  font-size: 22px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  transition: 300ms ease-in;
  
  
}

.navbar__signout:hover {
  color: rgb(0, 0, 0);
  box-shadow: 6px 6px 28px 7px rgba(255,255,255,0.91);
  text-shadow: rgba(223, 100, 18, 0.9) 0px 0px 39px;
}
