@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Catamaran:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
    
}

a:-webkit-any-link{
    text-decoration: inherit;
    color: inherit;
    
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(21deg, rgba(255,255,255,1) 0%, rgba(46,86,108,1) 36%, rgba(0,0,0,1) 69%);
    
}

.classes{
    font-family: 'Kalam', cursive;
    padding-left: 35px;
    padding-top: 100px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    width: 27%;
    height: 80%;
    margin-left: 20px;
    margin-top: 20px;
    align-items: left;
    font-size: 40px;
    font-weight: 600;
    color: white;
    
}

.classes__sub1{
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 50px;
    width: 350px;
    background-color: blue;
    color: white;
    padding-left: 5px;
    font-weight: 500;

}

.classes__sub2{
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 40px;
    /* height: 80px; */
    width: 350px;
    background-color: #F65555;
    padding-left: 5px;
    font-weight: 500;
    color: white;
}

.classes__sub3{
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 40px;
    /* height: 80px; */
    width: 350px;
    background-color: #7C18FB;
    padding-left: 5px;
    color: white;
    font-weight: 500;
}

.classes__sub4{
    /* border: 1px solid red; */
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    margin-top: 40px;
    /* height: 80px; */
    width: 350px;
    background-color: #218932;
    padding-left: 5px;
    font-weight: 500;
    color: white;
}

.classes__sub{
    
    transition:150ms ease-in;
}





.classes__sub:hover{
    box-shadow: 5px 5px black;
}

.classes__timing{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: white;
    color: black;
    padding-left: 5px;
    font-weight: 700;
}

.classes__timing>a{
    text-decoration: none;
    color: black;
}


.notes{
    font-family: 'Kalam', cursive;
    padding-left: 35px;
    padding-top: 100px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    width: 33%;
    height: 750px;
    margin-left: 20px;
    margin-top: 20px;
    align-items: left;
    font-size: 40px;
    font-weight: 800;
    color: white;
}



.notes__sd{

    font-family: 'Fira Sans', sans-serif;
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 25px;
    height: 80%;
    justify-content: center;
   
}



.notes__sub1{
    
    background-color: #71BBFF;
    background-color: linear-gradient(0,0,5);
}


.notes__sub2{
    background-color: #FFAA7A;
}

.notes__sub3{
    background-color: #48FFA7;
}

.notes__sub4{
    background-color: #FFD600;
}

.notes__sub{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 10px 30px 10px 20px;
    transition: 300ms ease-in-out;
    border-radius: 20%;
}

.notes__sub:hover{
    box-shadow: 10px 5px black;
}

.notice{
    font-family: 'Kalam', cursive;
    font-weight: 800;
    color: white;
    padding-left: 35px;
    padding-top: 100px;
    /* border: 1px solid red; */
    display: inline-flex;
    flex-direction: column;
    width: 33%;
    height: 85%;
    margin-left: 30px;
    margin-top: 10px;
    align-items: left;
    font-size: 40px;
    font-weight: 800;
    
}

.notice__board{
    font-family: 'Fira Sans', sans-serif;
    margin-top: 40px;
    /* border: 1px solid red; */
    height: 630px;
    font-size: 24px;
    background: rgb(148,187,233);
    background: radial-gradient(circle, rgba(148,187,233,1) 25%, rgba(31,49,84,1) 79%, rgba(41,47,88,1) 97%);
    background-size: cover;
    line-height: 2.6rem;
    transition: 300ms ease-in;
    padding-left: 40px;
    padding-top: 20px;
    border-radius: 8%;
    line-height: 5rem;
    /* color:black; */
    
}

.notice__board:hover{
    box-shadow: 5px 5px black;
    cursor: pointer;
}